<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<header>
    <div class="navbar bg-base-100 shadow-sm">
        <div class="navbar-start">
            <a href="/" class="btn btn-ghost text-xl">ERV</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/review">Review</a></li>
                <li>
                    <details>
                        <summary>More</summary>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <div class="navbar-end ">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn m-1">Tài khoản</div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    <li><a>Thông tin</a></li>
                    <li>
                        <a>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Đăng xuất</button>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
            {% else %}
            <a href="/accounts/login" class="btn">Đăng nhập</a>
            {% endif %}
        </div>
    </div>

</header>
<main class="grid grid-cols-12 gap-6 w-full p-4">
    {% block content %}{% endblock %}
</main>

<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
    <aside>
        <p>Copyright © {new Date().getFullYear()} - All right reserved by ACME Industries Ltd</p>
    </aside>
</footer>
</body>

</html>
